@{
    ViewData["Title"] = "Курсова робота";
    Layout = "_Layout";
}
@using Npgsql;
@using Microsoft.AspNetCore.Mvc;

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        @{
            NpgsqlCommand command = new NpgsqlCommand(
            $"SELECT id_faculty, name_faculty, abbreviation_faculty, ti.abbreviation_institute, tui.second_name || ' ' || tui.first_name || ' ' || tui.middle_name, tui2.second_name || ' ' || tui2.first_name || ' ' || tui2.middle_name " +
            $"FROM tb_faculty " +
            $"LEFT JOIN tb_institute ti on tb_faculty.id_institute = ti.id_institute " +
            $"LEFT JOIN tb_users_info tui on tb_faculty.id_user_dean = tui.id_user_info " +
            $"LEFT JOIN tb_users_info tui2 on tb_faculty.id_user_deputy_dean = tui2.id_user_info ORDER BY id_faculty;", DataBase._connection);
            DataBase._connection.Open();
            NpgsqlDataReader reader = command.ExecuteReader();
            List<object[]> result = new List<object[]>();
            while (reader.Read())
            {
                result.Add(new object[6]);
                reader.GetValues(result[result.Count - 1]);
            }
            DataBase._connection.Close();
            <div class="mt-3"><button class="btn btn-primary btn-success" type="button" onclick="AddButton()">Додати новий факультет</button></div>
            <div class="table-responsive">
                <table class="table" style="font-size:90%">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Назва</th>
                            <th scope="col">Скорочена назва</th>
                            <th scope="col">Інститут</th>
                            <th scope="col">Декан</th>
                            <th scope="col">Заступник декана</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (object[] row in result)
                        {
                            <tr>
                                <th scope="row">@row[0]</th>
                                <td>@row[1]</td>
                                <td>@row[2]</td>
                                <td>@row[3]</td>
                                <td>@row[4]</td>
                                <td>@row[5]</td>
                                <td><button class="btn btn-primary btn-success" type="button" onclick="EditButton(@row[0])">Редагувати</button></td>
                                <td><button class="btn btn-primary btn-danger" type="button" onclick="DeleteButton(@row[0])">Видалити</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
<script src="~/js/UserTable.js"></script>

