@{
    ViewData["Title"] = "Курсова робота";
    Layout = "_Layout";
}
@using Npgsql;
@using Microsoft.AspNetCore.Mvc;

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        @{
            NpgsqlCommand command = new NpgsqlCommand(
                $"SELECT id_user_info, tb_users.login, first_name, second_name, middle_name, email, phone, tb_rank.name_rank, tb_academic_degree.name_academic_degree, tb_chair.name_chair, tb_category_access.name_category_access, delete_date " +
                $"FROM public.tb_users_info " +
                $"LEFT JOIN public.tb_category_access ON tb_category_access.id_category_access = tb_users_info.id_category_access " +
                $"LEFT JOIN public.tb_rank ON tb_rank.id_rank = tb_users_info.id_rank " +
                $"LEFT JOIN public.tb_academic_degree ON tb_academic_degree.id_academic_degree = tb_users_info.id_academic_degree " +
                $"LEFT JOIN public.tb_chair ON tb_chair.id_chair = tb_users_info.id_chair " +
                $"LEFT JOIN public.tb_users ON tb_users.id_user = tb_users_info.id_user_info", DataBase._connection);
            DataBase._connection.Open();
            NpgsqlDataReader reader = command.ExecuteReader();
            List<object[]> result = new List<object[]>();
            while (reader.Read()) { 
                result.Add(new object[12]);
                reader.GetValues(result[result.Count-1]);               
            }
            DataBase._connection.Close();
            <button class="btn btn-primary btn-success addbtn" type="button" onclick="">Додати</button>
         <table class="table">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Логін</th>
              <th scope="col">Прізвище</th>
              <th scope="col">Ім'я</th>
              <th scope="col">По-батькові</th>
              <th scope="col">E-mail</th>
              <th scope="col">Телефон</th>
              <th scope="col">Посада</th>
              <th scope="col">Академічний рівень</th>
              <th scope="col">Кафедра</th>
              <th scope="col">Ваш рівень доступу</th>
              <th scope="col">Дата видалення</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          @foreach(object[] row in result){
            <tr>
              <th scope="row">@row[0]</th>
              <td>@row[1]</td>
              <td>@row[2]</td>
              <td>@row[3]</td>
              <td>@row[4]</td>
              <td>@row[5]</td>
              <td>@row[6]</td>
              <td>@row[7]</td>
              <td>@row[8]</td>
              <td>@row[9]</td>
              <td>@row[10]</td>
              <td>@row[11]</td>
              <td><button class="btn btn-primary btn-success" type="button" onclick="">Редагувати</button></td>
              <td><button class="btn btn-primary btn-danger" type="button" onclick="">Видалити</button></td>
            </tr>
          }
          </tbody>
        </table>
}
    </div>
</div>


