@{
    ViewData["Title"] = "Курсова робота";
    Layout = "_Layout";
}
@using Npgsql;
@using Microsoft.AspNetCore.Mvc;

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        @{
            NpgsqlCommand command = new NpgsqlCommand(
                $"SELECT id_user_info, tb_users.login, second_name || ' ' || first_name || ' ' || middle_name, email, phone, tb_rank.name_rank, tb_academic_degree.name_academic_degree, tb_chair.name_chair, tb_category_access.name_category_access, delete_date " +
                $"FROM public.tb_users_info " +
                $"LEFT JOIN public.tb_category_access ON tb_category_access.id_category_access = tb_users_info.id_category_access " +
                $"LEFT JOIN public.tb_rank ON tb_rank.id_rank = tb_users_info.id_rank " +
                $"LEFT JOIN public.tb_academic_degree ON tb_academic_degree.id_academic_degree = tb_users_info.id_academic_degree " +
                $"LEFT JOIN public.tb_chair ON tb_chair.id_chair = tb_users_info.id_chair " +
                $"LEFT JOIN public.tb_users ON tb_users.id_user = tb_users_info.id_user_info ORDER BY id_user_info", DataBase._connection);
            DataBase._connection.Open();
            NpgsqlDataReader reader = command.ExecuteReader();
            List<object[]> result = new List<object[]>();
            while (reader.Read()) { 
                result.Add(new object[10]);
                reader.GetValues(result[result.Count-1]);               
            }
            DataBase._connection.Close();
                        
                <div class="table-responsive pt-3 pb-1">
                    <table class="table Smarttable" style="font-size:90%">
                              <thead>
                                <tr>
                                  <th scope="col"> </th>
                                  <th scope="col">Логін</th>
                                  <th scope="col">ПІБ</th>
                                  <th scope="col">E-mail</th>
                                  <th scope="col">Телефон</th>
                                  <th scope="col">Посада</th>
                                  <th scope="col">Академічний рівень</th>
                                  <th scope="col">Кафедра</th>
                                  <th scope="col">Рівень доступу</th>
                                  <th scope="col">Дата видалення</th>
                                <th scope="col"><button class="btn btn-primary btn-success" type="button" onclick="AddButton()">Додати нового користувача</button></th>
                                </tr>
                              </thead>
                              <tbody>
                              @foreach(object[] row in result){
                                <tr>
                                  <th scope="row">@row[0]</th>
                                  <td>@row[1]</td>
                                  <td>@row[2]</td>
                                  <td>@row[3]</td>
                                  <td>@row[4]</td>
                                  <td>@row[5]</td>
                                  <td>@row[6]</td>
                                  <td>@row[7]</td>
                                  <td>@row[8]</td>
                                  <td>@row[9]</td>
                                <td>
                                    <button class="btn btn-primary btn-success" type="button" onclick="EditButton(@row[0].ToString())">Редагувати</button>
                                  @if(String.IsNullOrEmpty(row[9].ToString())){
                                        <button class="btn btn-primary btn-danger" type="button" onclick="DeleteButton(@row[0].ToString())">Видалити</button>
                                        Console.WriteLine(row[0]);
                                    }
                                else
                                {
                                                <button class="btn btn-primary btn-info" type="button" onclick="RestoreButton(@row[0].ToString())">Відновити</button>
                                }
                                    </td>
                                        </tr>
          }
                              </tbody>
                            </table>
                            </div>
}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteBackDrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Увага</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Чи дійсно хочете видалити користувача?
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmDeleteBtn" class="btn btn-primary">Так</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ні</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="restoreModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restoreModalLabel">Відновлення користувача</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Ім'я користувача'</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Пароль</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="restoreConfirm" class="btn btn-primary">Відновити</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="~/js/UserTable.js" ></script>

